*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color:rgb(0, 0, 0);
    box-sizing: border-box;
}
.navbar{ 
    display: flex;
    align-items: center;
    padding:40px;
}
nav{
    flex: 1;
    text-align: center;
}
nav ul{ 
    display: inline-block;
    list-style-type: none;
}
.search{
    display: inline-block; 
    border: 1px solid white;
    padding: 4px;
    border-radius: 3px;
    margin-right: 105px;
    color: rgb(236, 219, 219);
}
.search input{
    color: white;
}

nav ul li{
    display: inline-block;
    margin-right: 25px;
}
.top{
    text-decoration: none;
    color:rgb(236, 219, 219);
    transition: 0.5s;
}
.top:hover{
    color: lightseagreen;
    border: 1px inset white;
    background: black;
    padding: 5px;
    margin: 5px;
}

.cart img{
    box-shadow: 0 0 8px white;
    padding: 3px;
    width: 50px;
    height: 50px;
    border: 5px solid lightseagreen;
    border-radius: 10px;
    transition: 0.3s;
}
.cart img:hover{
    background: tomato;
}
.elect_flex{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.A,.B,.C,.D,.E,.F{
    border: 5px solid lightseagreen;
    padding: 30px;
    box-shadow: 0 0 10px white;
    margin: 15px;
    color: white;
    width: 280px;
    padding: 15px;
    border-radius: 15px;
    transition: 00.5s;
}
.A:hover,.B:hover,.C:hover,.D:hover,.E:hover,.F:hover{
    transform: translatey(-10px);
}
.A img,.B img,.C img,.D img,.E img,.F img{
    display: inline-block;
    width: 100%;

}
h3{
    color:tomato;
}

/* ------------------Footer------------------ */

.footer1{
    background-color: rgb(24, 109, 100);
    padding: 0px;
    margin-top: 40px;
    align-items: baseline;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.F1 h3,.F2 h3{
    color: rgb(230, 61, 61);
}
.F1 ul,.F11,.F2 ul,.F12{ 
        background-color: rgb(24, 109, 100);

}
.F1 ul li,.F2 ul li,.F1 ul li a{
    color: black;
    text-decoration: none;
    background-color:rgb(24, 109, 100);
    list-style-type: none;
}
.footer2, .footer2 p{
    background-color: rgb(24, 109, 100);
    padding: 3px;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
.footer2 img{
    width: 25px;
    height: 25px;
    margin: 1px;
}
.cop{
    margin-top: 5px;
    margin-right: 20px;
}
.F1 ul li:hover,.F2 ul li:hover{
    text-decoration: underline;

}
