*{
    margin: 0px;
    border: 0px;
    padding: 0px;
    background-color:rgb(0, 0, 0);
    box-sizing: border-box;
}
.navbar{ 
    display: flex;
    align-items: center;
    padding:40px;
}
nav{
    flex: 1;
    text-align: center;
}
nav ul{ 
    display: inline-block;
    list-style-type: none;
}
.search{
    display: inline-block; 
    border: 1px solid white;
    padding: 4px;
    border-radius: 3px;
    margin-right: 105px;
    color: rgb(236, 219, 219);
}
.search input{
    color: white;
}

nav ul li{
    display: inline-block;
    margin-right: 25px;
}
.top{
    text-decoration: none;
    color:rgb(236, 219, 219);
    transition: 0.5s;
}
.top:hover{
    color: lightseagreen;
    border: 1px inset white;
    background: black;
    padding: 5px;
    margin: 5px;
}

.cart{
    padding: 3px;
    box-shadow: 0 0 8px white;
    width: 50px;
    height: 50px;
    border: 5px solid lightseagreen;
    border-radius: 10px;
    transition: 0.3s;
}
.cart:hover{
    background: tomato;

}
.container{
    max-width: 1500px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.flexcata{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.clo,.eln,.kit,.beu{
    box-shadow: 0 0 8px white;
    display: inline-block;
    border: 5px solid lightseagreen;
    border-radius: 10px;
    margin-right: 35px;
}
.clo img,.eln img,.kit img,.beu img{
    display: inline-block;
    width: 80px;
    height: 80px;
    padding: 3px;
    border-radius: 40px;
    transition: 0.5s;
}
.cloimg:hover,.elnimg:hover,.kitimg:hover,.beuimg:hover{
    background: tomato;
    border: 3px solid lightseagreen;
}



/* ------------------Main------------------------------ */



 .Main{
    margin: 60px;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;

}
.adds{
    width: 100%;
    height: 100%;
    border-radius: 10px; 

       
}
.adds1{
    width: 400%;
    height: 400%;
    display: flex;
}
.addsI{
    width: 20%;
    padding: 20px;
    visibility:unset;
}
.addsI img{
    width: 1080px;
    height: 500px;
}

/* ------------------Footer------------------ */

.footer1{
    background-color: rgb(24, 109, 100);
    padding: 0px;
    margin-top: 40px;
    align-items: baseline;
    text-align: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.F1 h3,.F2 h3{
    color: rgb(230, 61, 61);
}
.F1 ul,.F11,.F2 ul,.F12{ 
        background-color: rgb(24, 109, 100);

}
.F1 ul li,.F2 ul li,.F1 ul li a{
    color: black;
    text-decoration: none;
    background-color:rgb(24, 109, 100);
    list-style-type: none;
}
.footer2, .footer2 p{
    background-color: rgb(24, 109, 100);
    padding: 3px;
    text-align: right;
    display: flex;
    flex-wrap: wrap;
    justify-content: right;
}
.footer2 img{
    width: 25px;
    height: 25px;
    margin: 1px;
}
.cop{
    margin-top: 5px;
    margin-right: 20px;
}
.F1 ul li:hover,.F2 ul li:hover{
    text-decoration: underline;

}
